*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
    --ff-primary: 'Inter', sans-serif;

    --fw-h1: 600;
    --fw-body-bold: 600;
    --fw-body: 300;

    --fs-h1: 1.8em;
    --fs-body-bold: .9em;
    --fs-body: .9em;

    --clr-light: #F9F8F3;
    --clr-light-yellow: #fdfbf2;
    --clr-dark: #0B0A08;
    --clr-dark-gray: #565656;
    --clr-accent: #4E13D1;
}

html {
    /* color-scheme: dark light; */
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Typography */

h1 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-h1);
    font-size: var(--fs-h1);
}

p {
    font-family: var(--ff-primary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
    line-height: 1.5em;
    color: var(--clr-dark-gray);
}

.bold {
    font-family: var(--ff-primary);
    font-weight: var(--fw-body-bold);
    font-size: var(--fs-body-bold);
}

label {
    font-family: var(--ff-primary);
    font-weight: var(--fw-body-bold);
    font-size: var(--fs-body-bold);
}

input {
    font-family: var(--ff-primary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
}

/* General Styles */

h1 { padding: .5em 0 .2em }

p { padding-bottom: .5em }

button {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border: none;
    border-radius: 5px;
    padding: 1em 2em;
    margin: .8em auto;
    width: 100%;
    transition: 250ms ease-in-out;
}

button:hover {
    cursor: pointer;
    scale: 105%;
    transition: 250ms ease-in-out;
}

/* Hero */

.hero__container {
    padding: 1.5em 1.8em;
    background-color: var(--clr-light-yellow);
}

.examples__link {
    margin: .5em auto 1em;
    text-align: center;
}

.examples__link > * {
    color: var(--clr-accent);
    text-underline-offset: 3px;
}

.checkmark__area {
    display: flex;
    align-items: flex-start;
    gap: .5em;
    margin: .2em auto;
}