*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
    --ff-primary: 'Inter', sans-serif;

    --fw-h1: 600;
    --fw-body-bold: 600;
    --fw-body: 300;

    --fs-h1: 1.8em;
    --fs-body-bold: .9em;
    --fs-body: .9em;

    --clr-light: #F9F8F3;
    --clr-light-yellow: #fff8ee;
    --clr-dark: #0B0A08;
    --clr-dark-gray: #565656;
    --clr-accent: #4E13D1;
}

html {
    /* color-scheme: dark light; */
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Typography */

h1 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-h1);
    font-size: var(--fs-h1);
}

p {
    font-family: var(--ff-primary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
    line-height: 1.5em;
    color: var(--clr-dark-gray);
}

.bold {
    font-family: var(--ff-primary);
    font-weight: var(--fw-body-bold);
    font-size: var(--fs-body-bold);
}

label {
    font-family: var(--ff-primary);
    font-weight: var(--fw-body-bold);
    font-size: var(--fs-body-bold);
}

input {
    font-family: var(--ff-primary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
}

@media (min-width: 800px) {
    h1 { font-size: 2.5em }
    p { font-size: 1em }
}

/* General Styles */

h1 { padding: .5em 0 .2em }

p { padding-bottom: .5em }

button {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: 250ms ease-in-out;
}

button:hover {
    cursor: pointer;
    scale: 105%;
    transition: 250ms ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    padding: 3em 1.8em 1em;
}

.article__subtitle {
    padding: .3em 0 1em;
}

@media (min-width: 800px) {
    article {
        padding: 2.5em 6em;
    }
}

/* Nav */

.nav__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    padding: 0 1em;
}

.nav__link{
    font-family: var(--ff-primary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
    text-decoration: none;
    color: var(--clr-dark);
}

.nav__buttons {
    display: inline-flex;
    margin-left: 4em;
}

.nav__item[type="button"] { 
    padding: .8em 1em;
    width: 6em;
}
.nav__link[type="button"] { 
    color: var(--clr-light);
    font-weight: var(--fw-body-bold);
}

.nav__item__sign-in {
    background-color: transparent;
}
.nav__link__sign-in { font-weight: var(--fw-body-bold) }

.hamburger__icon { 
    display: none;
    z-index: 9999;
}
.hamburger__icon:hover {
    cursor: pointer;
}

.fiber { z-index: 10 }


@media (max-width: 800px) {
    .hamburger__icon {
        display: block;

    }

    .nav {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(3px);
        inset: 0;
        transform: translateX(100%);
        transition: 500ms ease-in-out;
    }

    .nav[data-visible="true"] {
        transform: translateX(0%);
        transition: 500ms ease-in-out;
    }

    .nav__list {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    .nav__buttons {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .nav__item[type="button"] {
        margin: 1em 0;
    }
}

/* Hero */
.fiber {
    color: var(--clr-dark);
    font-size: 1em;
}

.article__hero {
    background-color: var(--clr-light-yellow);
}

.hero__ratings {
    display: none;
}

.hero__button {
    padding: 1em 2em;
    margin: .8em auto;
}

.examples__link {
    margin: .5em auto 1em;
    text-align: center;
}

.examples__link > * {
    color: var(--clr-accent);
    text-underline-offset: 3px;
}

.checkmark__area {
    display: flex;
    align-items: flex-start;
    gap: .5em;
    margin: .2em auto;
}

@media (min-width: 800px) {
    .article__hero { padding-bottom: 4em }

    .hero {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 2em;
    }

    .hero__ratings {
        display: inline-flex;
        gap: .2em;
    }
    
    .hero__ratings p {
        padding: 0 0 0 .5em;
    }

    .hero__title { padding-top: .2em }

    .hero__image__container,
    .hero__text { flex-basis: 50% }

    .hero__button { 
        max-width: 12em;
        margin: 0;
    }

    .examples__link { margin-left: 2em }

    .hero__button-with-link,
    .checkmark__areas {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .checkmark__area { margin: 1em 1em 0 0 }
}


/* why fiber? article */

.article__title__why-fiber { 
    color: var(--clr-accent);
    padding-top: 1em;
}

.features__why-fiber {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.feature__title { color: #000 }

.feature img { padding-bottom: 1em }

@media(min-width: 800px) {
    .features__why-fiber {
        flex-direction: row;
        gap: 3.5em;
    }
}


/* free trial article */

.article__free-trial h1,
.article__free-trial p { color: var(--clr-light) }


.article__free-trial__container {
    background-color: var(--clr-accent);
    padding: 2em 2em 0;
    border-radius: 10px;
}

.free-trial-button {
    background-color: var(--clr-light);
    color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-weight: var(--fw-body-bold);
    font-size: var(--fs-body-bold);
    padding: 1em;
    margin-top: .5em;
}

.article__free-trial__container img {
    margin-top: 3em;
}


/* testimonials */

.testimonials__list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.testimonial {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 1em;
}

.testimonial-header > * {
    display: inline-block;
    padding-bottom: .5em;
}

.testimonial-header img { 
    vertical-align: top;
    padding-right: .5em;
}

.testimonial p:not(.testimonial-name) { 
    color: #000;
    padding-bottom: 0;
}

.testimonial-name { 
    color: var(--clr-accent);
    padding: 5px 0 0;
}

.testimonial-body { padding-bottom: .5em }

.testimonial button {
    background-color: transparent;
    border: 1px solid #d0d0d0;
    color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-weight: var(--fw-body-bold);
    font-size: var(--fs-body-bold);
    padding: 1em;
}

.article__testimonials { padding-bottom: 3em }


/* footer */

footer {
    background-color: var(--clr-light-yellow);
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.fiber-description .bold,
.footer-nav__list-title { 
    color: #000;
    font-size: 1em;
}

.footer-nav__list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-nav__list-title { padding-bottom: .5em }

footer ul {
    list-style: none;
}

footer li { padding: .25em 0 }

footer a {
    text-decoration: none;
    font-family: var(--ff-primary);
    font-weight: var(--fs-body);
    font-size: var(--fs-body);
    color: var(--clr-dark-gray);
}